.container {
    width: 300px;
    height: 600px;
    background-color: gainsboro;
    margin: 100px;
}

.box {
    width: 100px;
    height: 100px;
}

.red {
    position: relative;
    background-color: red;
    top: 100px;
    left: 100px;
}

.blue {
    position: fixed;
    background-color: lightblue;
    top: 0px;
    left: 0px;
}

.green {
    position: absolute;
    background-color: aquamarine;
    bottom: 0px;
    right: 0px;
}

.purple {
    background-color: purple;
    position: sticky;
    top: 500px;
}

.spacer {
    height: 300vh;
}

